{% extends 'base.html.twig' %}

{% block title %}Edit IncomeEntity{% endblock %}

{% block body %}
    <h1>Edit IncomeEntity</h1>

    {{ include('income_entity/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_home_index') }}">back to list</a>

    {{ include('income_entity/_delete_form.html.twig') }}
{% endblock %}
