{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="flex items-center justify-center min-h-screen">
        <div class="w-full max-w-6xl px-4 py-6 bg-white shadow-md rounded-lg">
            <h1 class="text-2xl font-bold mb-6 text-gray-800 text-center">Suivis des dépense</h1>

            <!-- Conteneur pour le composant React -->
            <div class="overflow-hidden">
                <div {{ react_component('DataTable', {'Data': combinedList,
                    'excludeCollum':["type","id","userProfileEntity"],
                    'filterableExcluded':["type","userProfileEntity"],
                    'noDynamicList':["amount"],
                    "filterImpacte": ["userProfileEntity"],
                }) }}></div>
            </div>
        </div>
    </div>
{% endblock %}
