{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="flex items-center justify-center min-h-screen">
        <div class="w-full max-w-6xl px-4 py-6 bg-white shadow-md rounded-lg">
            <h1 class="text-2xl font-bold mb-6 text-gray-800 text-center">Data Table</h1>

            <!-- Boutons alignés -->
            <div class="flex space-x-4 mb-6">
                <!-- Bouton pour ajouter une dépense -->
                <a href="{{ path('app_expense_entity_new') }}"
                   class="bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700 focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 text-center">
                    Add New Expense
                </a>

                <!-- Bouton pour ajouter un revenu -->
                <a href="{{ path('app_income_entity_new') }}"
                   class="bg-gray-600 text-white py-2 px-4 rounded-lg hover:bg-gray-700 focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 text-center">
                    Add New Income
                </a>
                <!-- Bouton pour user profil -->
                <a href="{{ path('app_user_profile_entity_index') }}"
                   class="bg-gray-600 text-white py-2 px-4 rounded-lg hover:bg-gray-700 focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 text-center">
                    show User Profile list
                </a>
            </div>

            <!-- Conteneur pour le composant React -->
            <div class="overflow-hidden">
                <div {{ react_component('DataTable', {'Data': combinedList}) }}></div>
            </div>
        </div>
    </div>
{% endblock %}
