{# templates/bundles/VichUploaderBundle/Form/fields.html.twig #}
{% block vich_file_widget %}
    {# Display of the current file #}
    {% if value %}
        {% if value is iterable %}
            {% set filePath = value|first %}
        {% else %}
            {% set filePath = value %}
        {% endif %}

        {% if filePath is not empty %}
            <div class="mt-2">
                <a href="{{ asset(filePath) }}" target="_blank" class="text-blue-500 hover:underline">
                    Voir le fichier actuel
                </a>
            </div>
        {% endif %}

    {% endif %}

    {# File download field #}
    <div class="mt-2">
        {{ form_widget(form.file, {
            'attr': {
                'class': 'block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm',
                'accept': 'application/pdf,image/*'
            }
        }) }}
    </div>

    {# File deletion field #}
    {% if form.delete is defined %}
        <div class="mt-3 flex items-center space-x-2 mt-4">
            {{ form_widget(form.delete, {
                'attr': {
                    'class': 'rounded border-gray-300 text-red-600 focus:ring-red-500'
                }
            }) }}
            <label for="{{ form.delete.vars.id }}" class="text-sm text-red-700 font-medium">
                &nbsp;
                &nbsp;
                Supprimer le fichier ?
            </label>
        </div>
    {% endif %}
{% endblock %}
