{% extends 'base.html.twig' %}

{% block title %}Edit ExpenseEntity{% endblock %}

{% block body %}
    <h1>Edit ExpenseEntity</h1>

    {{ include('expense_entity/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_home_index') }}">back to list</a>

    {{ include('expense_entity/_delete_form.html.twig') }}
{% endblock %}
